<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">ここは美味しいものをレビューし投稿するサイトとなります</h1>
      <h4 class="text-center">みんなで美味しいものを共有し合いましょう！！</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="m-5">
        <h3>注意事項</h3>
        <h4>1.お店や食べ物のレビュー以外の投稿は管理者側で削除させていただきます</h4>
        <h4>2.ジャンル検索する際は、ジャンル名全てを入力して検索してください</h4>
        <h4>3.投稿する際は、お店の名前、紹介文、住所、ジャンル名、画像投稿、評価を入力して投稿してください</h4>
      </div>
    </div>
  </div>
</div>
