<h1 class="text-center">ここは美味しいものをレビューするサイトとなります</h1>

<h4 class="text-center">　みんなで美味しいものを共有し合いましょう！！</h4>
<div class"container">
  <div class="row">
    <div class="col-3">
     <h3>注意事項</h3>
    </div>
  </div>
<div class="text-center mt-3">
<h4>1.お店や食べ物のレビュー以外の投稿は管理者側で削除させていただきます</h4>
<h4>2.ジャンル検索する際は、ジャンル名全てを入力して検索してください</h4>
<h4>3.ジャンル検索する際は、ジャンル名全てを入力して検索してください</h4>
</div>