<div class="home" style="background-image: url(<%= asset_path('108.png') %>); background-size: cover; background-position: center;">
  <h1 class="app-title">グルメでGO</h1>

  <div class="outline">
    <p>
      料理やお店を位置情報付きで共有できる投稿サイトです。<br >
      お気に入りの料理やお店にみんなで食べに行きましょう！
    </p>
  </div>

  <div class="btn-wrapper col-lg-4 mx-auto">
    <div class="row">
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
    </div>
    <div class="row">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-sm btn-block mb-3 sign_up" %>
    </div>
    <div class="row">
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block sign_in", method: :post %>
    </div>
  </div>
</div>
