// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-family: serif;
}

.cover-new {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample2.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.form-label {
  font-size: 20px;

}

.form-group {
  width: 600px;
}

.card-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 75px;
}

.name {
  font-size: 30px;
  margin-top: 100px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.comment-zone {
  height: 270px;
  overflow-y: scroll;
}

.border.border-dark {
  height: 430px;
}

.card-list-container .card .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1; /* 正方形にトリミング */
  }
